.media {
    & > h3 {
        margin: 0;
    }
    & > :global(ul.btn-list) {
        margin-top: var(--spacing-mili);

        & > li:hover {
            &[name='refresh'] > f-icon {
                rotate: 360deg;
                transition: var(--df-trans), rotate .5s ease;
            }
            &[name='upload'] > f-icon:before {
                translate: 0 -4px;
            }
            &[name='remove'] > f-icon:before {
                translate: -2px -8px;
                rotate: 20deg;
            }
            &[name='open'] > f-icon:before {
                translate: 2px -2px;
            }
        }
    }
    & > div {
        height: 40vh;
    }
}