.media {
    & > h3 {
        margin: 0;
    }
    & > :global(ul.btn-list) {
        margin: var(--spacing-mili) 0;
    }
    & > :global(ul.btn-list) > li, & > ul.results > li > ul > li {
        & > f-icon {
            --secondary-opacity: 1;
        }
        &[name='refresh'] > f-icon {
            transition: var(--df-trans), rotate .5s ease;
        }
        &:hover {
            &[name='refresh'] > f-icon {
                rotate: 360deg;
            }
            &[name='upload'] > f-icon:before {
                translate: 0 -4px;
            }
            &[name='download'] > f-icon:before {
                translate: 0 2px;
            }
            &[name='remove'] > f-icon:before {
                translate: -2px -4px;
                rotate: 20deg;
            }
            &[name='open'] > f-icon:before {
                translate: 2px -2px;
            }
        }
    }
    & > ul.results > li {
        padding: var(--spacing-micro);
        background-color: var(--lt-gray);
        border-radius: var(--bdr-rad);
        display: grid;
        grid-template-columns: 60px auto 150px 200px max-content;
        gap: var(--spacing-micro);
        align-items: center;
        
        &:hover {
            background-color: var(--gray);
        }
        &:has(+ li) {
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
        }
        & + li {
            margin-top: 5px;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
        }
        & > div {
            aspect-ratio: 1/1;
            background: center/cover no-repeat;
            overflow: hidden;
            pointer-events: none;
        }
        & > span:first-of-type {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        & > span:last-child {
            text-align: right;
        }
    }
    & > div {
        height: 50vh;
        flex-direction: column;
    }
}