.wrapper {
    padding: var(--spacing-default);

    & h6, & > .main > .bottom > :last-child > div > div > input {
        margin: 0;
    }
    & > .title, & > .main > .top, & > .main > .right > div, & > .main > .bottom > :first-child {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    & > .title {
        margin-bottom: var(--spacing-small);

        & > h3 {
            margin: 0 var(--spacing-small) 0 0;
        }
        & > :last-child {
            margin-left: auto;
        }
    }
    & > .main {
        grid-template-areas:
            'top top'
            'left right'
            'bottom bottom';

        &, & > .left, & > .bottom > :last-child, & > .bottom > :last-child > div > div {
            display: grid;
        }
        &, & > .bottom > :last-child, & > .bottom > :last-child > div > div {
            grid-template-columns: 1fr 1fr;
            gap: var(--spacing-mili);
        }
        & > .top, & > :is(.right, .bottom) > div {
            padding: var(--spacing-xxsmall);
        }
        & > :is(.top, .left, .bottom), & > .right > div {
            border: 1px solid var(--dk-gray);
            border-radius: var(--bdr-rad);
        }

        & > .top {
            grid-area: top;
            gap: var(--spacing-small);

            & > h6 {
                flex-shrink: 0;
            }
        }
        & > .left {
            grid-template-rows: max-content;
            padding: var(--spacing-mili);

            & > ul > li {
                flex-grow: 1;
                font-size: 1.4rem;
                padding: 15px;
            }
            & > div {
                font-size: 6rem;
            }
        }
        & > .right {
            & > code {
                margin: 0;
            }
            & > div {
                margin-top: var(--spacing-mili);

                &:nth-of-type(2) > ul > li > f-icon {
                    line-height: 27px;
                }
            }
        }
        & > .bottom {
            grid-area: bottom;
            overflow: hidden;
            transition: var(--df-trans), height .5s ease;
            height: 73px;

            :global(.active)& {
                height: calc-size(auto, size);
            }
            & > :first-child {
                border-bottom: 1px solid var(--dk-gray);
                background-color: var(--lt-gray);
                user-select: none;
                cursor: var(--cursor-pointer);

                &:hover {
                    background-color: var(--gray);
                }
            }
            & > :last-child {
                column-gap: var(--spacing-small);

                & > div {
                    & > div, & > ul:nth-child(2) {
                        margin-top: 5px;
                    }
                    & > div {
                        gap: 5px;
                        margin-bottom: var(--spacing-micro);
                    }
                    & > input {
                        width: 100%;
                    }
                    & > label {
                        margin-top: var(--spacing-micro);
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 920px) {
    .wrapper > .main {
        grid-template-areas:
            'top'
            'left'
            'bottom'
            'right';
        
        &, & > .bottom > :last-child {
            grid-template-columns: 100%;
        }
        & > .left > div {
            aspect-ratio: 2/1;
        }
    }
}
@media screen and (max-width: 800px) {
    .wrapper > .main > .left > div {
        aspect-ratio: 3/2;
    }
}