#wrapper {
    height: 100svh;
    width: 100vw;
    padding: var(--spacing-default) 12% var(--spacing-default) 0;
    display: grid;
    grid-template-columns: auto 400px;
    
    > :is(div, form) {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    > div {
        > :last-child {
            margin-bottom: 0;
        }
        &:first-child > * {
            margin-bottom: 0;
            
            &:is(button) {
                margin-top: var(--spacing-small);
            }
            &:is(a) {
                &:not(.btn) {
                    background: none;
                    
                    &:hover {
                        scale: 1.05;
                    }
                    > img {
                        height: 100px;
                    }
                }
                &.btn {
                    margin-top: var(--spacing-small);
                }
            }
            &:is(h1) {
                margin-top: var(--spacing-xsmall);
            }
            &:is(p) {
                text-align: center;
                max-width: 75%;
                
                > img {
                    display: inline;
                    height: 20px;
                    translate: 0 4px;
                    margin-right: 8px;
                    border-radius: 50%;
                }
            }
        }
    }
    > form {
        &:not(.active) {
            display: none;
        }
        > #providers {
            display: grid;
            gap: 10px;
            grid-template-columns: repeat(3, 1fr);
            margin-bottom: 15px;
            width: 100%;
            
            > li {
                background-size: 27px;
                background-position: center center;
                background-repeat: no-repeat;
                height: 57px;
                width: unset;
                
                &[name='google'] {
                    background-image: url(/google-logo.svg);
                }
                &[name='microsoft'] {
                    background-size: 25px;
                    background-image: url(/microsoft-logo.svg);
                }
                &[name='github'] {
                    background-image: url(/github-logo.svg);

                    body.dark & {
                        background-image: url(/github-logo-white.svg);
                    }
                }
            }
        }
        > input {
            margin-top: 0;
        }
        > a {
            align-self: flex-start;
        }
        > div {
            align-self: flex-end;

            > button {
                margin-top: 0;
                margin-bottom: 0;
            }
        }
    }
}

header, footer {
    display: none;
}