.wrapper {
    display: grid;
    grid-template-areas:
        'header header header header'
        'sidebar content notePanel savedPanel';
    grid-template-columns: 300px auto 200px 200px;
    grid-template-rows: max-content auto;
    align-items: center;
    height: 100vh;
    width: 100vw;
}
.header {
    grid-area: header;
    display: grid;
    grid-template-columns: calc(50% - 200px) 400px calc(50% - 200px);
    padding: var(--spacing-micro) var(--spacing-small);

    &, & > div {
        align-items: center;
    }
    & > div {
        display: flex;
        gap: var(--spacing-xxsmall);

        & > img {
            height: 40px;
        }
        & > h4 {
            margin: 0;
        }
    }
    & > input {
        margin: 0;
    }
    & > ul {
        justify-content: right;
    }
}
.sidebar {
    grid-area: sidebar;
}
.content {
    grid-area: content;
}
.notePanel {
    grid-area: notePanel;
}
.savedPanel {
    grid-area: savedPanel;
}