.wrapper {
    display: grid;
    grid-template-areas:
        'header header header header'
        'sidebar content notePanel savedPanel';
    grid-template-columns: 300px auto 200px 200px;
    grid-template-rows: max-content auto;
    align-items: center;
    height: 100vh;
    width: 100vw;
}
.header {
    grid-area: header;
    justify-content: space-between;
    padding: var(--spacing-xxsmall) var(--spacing-default);

    &, & > div {
        display: flex;
        align-items: center;
    }
    & > div {
        gap: var(--spacing-xxsmall);

        & > img {
            height: 50px;
        }
        & > h4 {
            margin: 0;
        }
    }
    & > input {
        width: 400px;
        margin: 0;
    }
}
.sidebar {
    grid-area: sidebar;
}
.content {
    grid-area: content;
}
.notePanel {
    grid-area: notePanel;
}
.savedPanel {
    grid-area: savedPanel;
}