.wrapper {
    min-height: calc(100vh - 70px);
    padding: var(--spacing-default) 0;
    flex-direction: column;

    & > f-icon {
        font-size: 6rem;
    }
    & > h3 {
        margin-bottom: 0;
    }
    & > p:has(+ ul) {
        margin-bottom: 0;
    }
    & > ul {
        margin: 5px 0 var(--spacing-mili);
    }
    & > form > label {
        margin: 0 !important;
        width: 260px;
        transition: var(--df-trans), width .5s ease;

        &:focus-within {
            width: 400px;
        }
    }
}