.wrapper {
    height: calc(100vh - 70px);
    flex-direction: column;

    & > f-icon {
        font-size: 6rem;
    }
    & > h3 {
        margin-bottom: 0;
    }
    & > p {
        margin-bottom: 0;
    }
    & > ul {
        margin-top: 5px;
    }
    & > form > label {
        margin: var(--spacing-small) 0 0;

        &:focus {
            width: 400px;
        }
    }
}