.wrapper {
    height: calc(100vh - 70px);
    flex-direction: column;

    & > f-icon {
        font-size: 6rem;
    }
    & > h3 {
        margin-bottom: 0;
    }
    & > form > label {
        margin-bottom: 0;
    }
}