.wrapper {
    padding: var(--spacing-default);

    & > .top, & > div > :last-child > div {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    & > .top {
        margin-bottom: var(--spacing-small);

        & > h3 {
            margin: 0;
        }
    }
    & > .main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: var(--spacing-mili);

        & > :first-child {
            border-radius: var(--bdr-rad);
            border: 1px solid var(--dk-gray);
            display: grid;
            grid-template-rows: max-content;
            padding: var(--spacing-mili);

            & > ul > li {
                flex-grow: 1;
                font-size: 1.4rem;
                padding: 15px;
            }
            & > div {
                font-size: 6rem;
            }
        }
        & > :last-child {
            & > code {
                margin: 0;
            }
            & > div {
                border-radius: var(--bdr-rad);
                border: 1px solid var(--dk-gray);
                padding: var(--spacing-xxsmall);
                margin-top: var(--spacing-mili);

                & > h6 {
                    margin: 0;
                }
            }
        }
    }
}