.main {
    padding: var(--spacing-default);

    & > h3 {
        margin-top: 0;
    }
    & > div {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: var(--spacing-small);

        & > .iconView {
            border-radius: var(--bdr-rad);
            border: 1px solid var(--gray);
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 6rem;
        }
        & > :not(.iconView) > :global(ul.darker) > li {
            flex-grow: 1;
            font-size: 1.4rem;
            padding: 15px;
        }
    }
}