.wrapper {
    padding: var(--spacing-default);

    & h6, & > .main > .bottom > :last-child > div > div > input {
        margin: 0;
    }
    & > .top, & > .main > .right > div, & > .main > .bottom > :first-child {
        display: flex;
        align-items: center;
    }
    & > .main > .right > div, & > .main > .bottom > :first-child {
        justify-content: space-between;
    }
    & > .main > .left, & > .main > .right > div, & > .main > .bottom {
        border: 1px solid var(--dk-gray);
        border-radius: var(--bdr-rad);
    }
    & > .main > :is(.right, .bottom) > div {
        padding: var(--spacing-xxsmall);
    }

    & > .top {
        margin-bottom: var(--spacing-small);

        & > h3 {
            margin: 0 var(--spacing-small) 0 0;
        }
        & > :last-child {
            margin-left: auto;
        }
    }
    & > .main {
        grid-template-areas:
            'left right'
            'bottom bottom';

        &, & > .left, & > .bottom > :last-child, & > .bottom > :last-child > div > div {
            display: grid;
        }
        &, & > .bottom > :last-child, & > .bottom > :last-child > div > div {
            grid-template-columns: 1fr 1fr;
            gap: var(--spacing-mili);
        }

        & > .left {
            grid-template-rows: max-content;
            padding: var(--spacing-mili);

            & > ul > li {
                flex-grow: 1;
                font-size: 1.4rem;
                padding: 15px;
            }
            & > div {
                font-size: 6rem;
            }
        }
        & > .right {
            & > code {
                margin: 0;
            }
            & > div {
                margin-top: var(--spacing-mili);

                &:nth-of-type(2) > ul > li > f-icon {
                    line-height: 27px;
                }
            }
        }
        & > .bottom {
            grid-area: bottom;
            overflow: hidden;

            & > :first-child {
                border-bottom: 1px solid var(--dk-gray);
                background-color: var(--lt-gray);
                user-select: none;

                &:hover {
                    background-color: var(--gray);
                }
            }
            & > :last-child > div {
                & > span {
                    margin-bottom: 5px;
                }
                & > div {
                    gap: 5px;
                }
                & > :nth-child(3) {
                    margin-top: var(--spacing-micro);
                }
            }
        }
    }
}