.account_info > table {
    width: 100%;

    & td:first-child {
        width: 200px;
    }
    & :global(div.img) {
        height: 50px;
    }
    & f-icon {
        margin-left: 5px;

        &[icon='circle-check'] {
            color: var(--green);
        }
        &[icon='circle-exclamination'] {
            color: var(--yellow);
        }
        &[icon='clone']:active {
            scale: var(--btn-scale);
        }
    }
}