.account_info > table {
    width: 100%;

    & td:first-child {
        width: 200px;
    }
    & :global(div.img) {
        height: 50px;
    }
    & f-icon {
        margin-left: 5px;

        &[icon='circle-check'] {
            color: var(--green);
        }
        &[icon='circle-exclamination'] {
            color: var(--yellow);
        }
        &[icon='clone'] {
            cursor: var(--cursor-pointer);

            &:hover {
                opacity: .75;
            }
            &:active {
                scale: var(--btn-scale);
            }
        }
    }
}